<div class="back">
  <div class="row">
    <p class="ajust">© 2019 par ComparateurAgricole.com</p>
    <p class="offset-2">Site développé par : <img href="https://comparateuragricole.com/" data-type="image" itemprop="image"
        src="https://static.wixstatic.com/media/dd4d9e_b3622905996440e3abdb223afe4074e7~mv2.jpg/v1/fill/w_396,h_62,al_c,lg_1,q_80/dd4d9e_b3622905996440e3abdb223afe4074e7~mv2.webp">
    </p>
  </div>
  <div class="row">
    <p>Si vous souhaitez faire un article sur Moisson-Live.com et mettre en lumière cette période importante pour nos
      agriculteurs, merci de nous contacter au 02.42.14.00.01 ou e.dossantos@biagri.com</p>
  </div>
</div>