.title{
    color: #5a9449;
    font-weight: bold;
}

.navbar{
    background-color: #565656;
}

img{
    height: 32px;
    width: 32px;
    margin-bottom: 5%;
}

ul, li{
    margin: 0 60px;
}

@media screen and (min-width: 200px) and (max-width: 640px){
    ul, li{
      margin: 0;
    }
    h1{
        font-size: 160%;
        margin-top: 4%;
    }
}