.container {
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

h1{
    font-family: "Montserrat";
    color: #5a9449;
    font-weight: bold;
    margin-bottom: 2%;
}

p{
    font-family: "Open Sans";
    font-weight: bold;
    color: #565656;
    font-size: 120%;
    margin-top: 2%;
    margin-bottom: 1%;
}

button{
    background-color:#5a9449;
	border-radius:28px;
	border:1px solid #2a2a2a;
	color:#f8f8f8;
    padding:17px 33px;
    font-size: 140%;
    margin-top: 2%;
}

button:hover{
    background-color:#5a9449;
    opacity: 0.8;
}

.icone{
    height: 30px;
    width: 40px;
}