<div class="container">
  <div class="row">
    <h1 class="col-12">Moisson Live</h1>
    <h3 class="col-12 firstText">DÉCOUVREZ LA CARTE DE LA MOISSON FRANÇAISE 2019</h3>
    <p class="col-12 secondText">" Vous n'êtes plus tout seul sur votre ferme. "</p>
    <p class="offset-md-3 col-md-6 col-sm-12 descriText">Moisson Live vous permet de visualiser en temps réel les résultats
      de vos récoltes ainsi que celles des agriculteurs les plus proches !</p>
    <a [routerLink]="['/Map']" class="col-12 btn"><button>Accès au site <img class="icone" src="https://img.icons8.com/windows/420/long-arrow-right.png"> </button></a>
  </div>
</div>